$box-shadow-hover: 4px 3px 19px rgba(255, 255, 255, 0.2);

.movie-card{
    font-size: 20px;
    border: 2px solid slategray;
    text-align: center;
    margin: 0px 500px 0px 500px;
    border-radius: 10px 10px 10px 0px;
    background-color: white;
    color: darkred;
    text-shadow: 1px 1px lightgray;
}
.movie-card:hover{
    cursor: pointer;
    box-shadow: $box-shadow-hover;
}

.movie-card:active{
    border: none;
}