$box-shadow-hover: 4px 3px 19px rgba(255, 255, 255, 0.2);

.form{
    text-align: center;
    color: white;
}

.form-input{
    padding: 3px;
    border-radius: 5px;
}

.login-view-button{
    background-color: silver;
    border-color: slategray;
    padding: 6px;
    border-radius: 20px;

}

.login-view-button:hover{
    cursor: pointer;
    box-shadow: $box-shadow-hover;
}

.login-view-button:active{
    border: none;
}